<p>Add notes</p>
<form action="/createNote" method="post">
    <input type="text" name="x" placeholder="Note title">
    <input type="text" name="y" placeholder="Note body">
    <button type="submit">Add Note</button>
</form>
<div style="margin: 10px;">
    <a href="/">
        <button type="button" style="width: 100px; height: 50px;"> Go to Home </button>
    </a>
</div>
<div style="margin: 10px;">
    <a href="/notesList">
        <button type="button" style="width: 100px; height: 50px;"> All notes </button>
    </a>
</div>