<h1><%= note.title %></h1>
<p><%= note.body %></p>

<div style="margin: 10px;">
	<a href="/notesList">
		<button type="button" style="width: 120px; height: 50px;"> Back to Notes </button>
	</a>
</div>
<div style="margin: 10px;">
	<a href="/createNote">
		<button type="button" style="width: 120px; height: 50px;"> Add Another Note </button>
	</a>
</div>

